<!DOCTYPE html>
<html>
  <head>
    <title>Protospace36493</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="inner">
       <div class=nav>
        <h1 class="logo">
          <a href="/">
           <img src="/assets/logo.png" alt="">
          </a>
        </h1>
        <% if user_signed_in? %>
         <div class="nav">
           <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :nav_btn %>
           <%= link_to "New Proto", new_prototype_path, method: :get, class: :nav_btn %>
         </div>
        <% else %>
         <div class="nav">
           <%= link_to "ログイン", new_user_session_path, class: "get" %>
           <%= link_to "新規登録", new_user_registration_path, class: "get" %>
         </div>
        <% end %>
       </div>
      </div>
    </header>
    <%= yield %>
    <footer class="footer">
      <p class="copyright">
        Copyright ©︎PROTO SPACE All right reserved.
      </p>
    </footer>
  </body>
</html>
